#legend-wrapper {
  display: inline-block;
  margin: 25px;
  margin-left: 0px;
  padding: 20px;
}

span {
  margin: 20px;
}

#alive {
  display: inline-block;
  background-color: lawngreen;
  border: 1px solid #999;
  padding: 0;
  height: 25px;
  width: 25px;
}

#dead {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #999;
  padding: 0;
  height: 25px;
  width: 25px;
}

#text {
  position: relative;
  font-weight: 600;
}